* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,140,144,1) 100%, rgba(120,140,144,1) 100%);
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-style: italic;
}

.form-wrapper {
    margin: 80px auto;
    background-color: #fff;
    color: #333;
    width: 20%;
    padding: 10px;
}

.form-wrap .form-label {
    display: block;
}

input {
    border: grey 1px solid;
    padding: 10px;
    margin-right: 4px;
}

.text-input {
    width: 100%;
}

.form-wrap .form-label {
    font-style: italic;
}

#submit {
    background-color: #1138c4;
    width: 30%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

#submit:hover {
    background-color: #43bff0;
    color: #333;
    transition: 0.3s;
}